@tailwind base;
@tailwind components;
@tailwind utilities;

.formBg {
  background-image: url(https://cdn.forms.office.net/forms/formsresources/intelligence/themes/hack-registration2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}


.swiper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  display: flex;
  justify-content: space-between;
}

.swiper-wrapper .swiper-slide {
  width: 350px !important;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  /* display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; */
}
